body{
	color: #F0F8FF;
}

#main {
	position: relative;
	width: 900px;
	height: 500px;
	background-color: black;
	margin-left: 50%;
	margin-right: 50%;
	top: 100px;
	margin: auto;

}

#ruletteBox {
	position: relative;
	width: 250px;
	height: 150px;
	background-color: blue;
	margin-left: 19%;
	bottom: 60px;

}